body {
    font-family: Arial, sans-serif;
    background-color: #003b94;
    margin: 20px;
}

p {
    font-size: 18px;
    color: #ffffff;
}

div {
    background-color: #008bb6;
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 1px;
}