body{
    background-color: rgb(171, 171, 171);
    padding: 100px 100px 100px 100px;
    margin: auto;
    font-family: 'Gill Sans';
    text-align: center;
}

@media screen and (max-Width:500px){
    .top, .nomC{
        width: 100%;
    }
    }
.numerofrase{
    background-color: rgb(0, 68, 255);
    width: 40px;
    height: 305px;
    float: right;
    text-align: center;
    border-radius: 2px;
}

.fraseRara{
    background-color: rgb(7, 111, 255);
    float: right;
    width: 1000px;
    height: 305px;
    padding-left: 15px;
    text-align: center;
    border-radius: 2px;
}